html {
  height: 100%;
}

body {
  color: white;
  background: linear-gradient(rgba(87, 86, 0, 0.78), rgba(72, 37, 16, 1)),
                    url("/assets/images/bg.jpg");
  background-attachment: fixed;

  width: 80%;
  margin: 0 auto;
  height: 100%;
}

@media (max-width: 800px) {
  body {
    width: 100%;
  }
}

* {
  font-family: 'Roboto', sans-serif;
}

h1 {
  font-family: 'Itim', cursive;
}

h2 {
  font-family: 'Itim', cursive;
  background-image: url("/assets/images/header_prefix.gif");
  background-repeat: no-repeat;
  padding-left: 40px;
  padding-bottom: 20px;
}

a {
  color: #ffcb00;
}

a:hover {
  text-decoration: underline;
}

a:active {
  color: Yellow;
}

a:visited {
  color: Yellow;
}

.mirrored, .fancy_header img.right {
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

.backing {
  background-color: rgba(255, 200, 100, 0.1);
  border-width: 0px;
  border-color: black;
  border-style:solid;
}

.fancy_header{
  display: flex;
  justify-content: center;
}

.fancy_header div {
  overflow: hidden;
  align-self: center;
}

.fancy_header img.left img.right {
  flex: 1 1 auto;
}

.fancy_header img.left {
}

.fancy_header img.right {
  float: right;
}

.fancy_header .center {
  text-align: center;
  flex: 0 0 content;
  padding: 0 30px;
}

.with-sidebar {
  display: flex;
  flex-wrap: wrap;
  margin: -0.5rem;
  align-items: flex-start;
}

/*
.with-sidebar > * > * {
  margin: 0.5rem;
}
*/

.with-sidebar .sidebar {
  /*flex-basis: 20rem;*/
  flex-grow: 1;
  margin: 0.5rem;
}

.with-sidebar .content {
  flex-basis: 0;
  flex-grow: 999;
  margin: 0.5rem;
  padding: 0.5rem;
  min-width: calc(50% - 1rem);
}

.content h3 {
  margin-left: 1.5rem;
}

.content p {
  margin-left: 3.0rem;
}

.content img, video {
  display: block;
  margin-left: auto;
  margin-right: auto;
  max-width: 50%;
  max-height: 30rem;
}

.spacer {
  flex: 50px;
}

#site_header {

}

a.stealth {
  color: white;
  text-decoration: none;
}

a.stealth:hover {
}

a.stealth:active {
  color: white;
}

a.stealth:visited {
  color: white;
}

#site_logo_text {
  white-space:nowrap;
  font-size: 50pt;
  font-family: 'Fascinate', cursive;
  background-repeat: no-repeat;
  margin: 0px

}

@media (max-width: 800px) {
  #site_logo_text {
    font-size: 25pt;
      white-space: normal;
  }
}

#site_logo_image {

}

#topbar {

}

#topbar a {
  display: inline;
  background-color: rgba(255, 200, 100, 0.6);
  padding: 0px 5px;
}

a.sidebar_toggle {

}

.sidebar * {
  display: block;
}

.sidebar a {
}

.sidebar h3 {
}

.sidebar a.link {

}

.sidebar a.link_2 {

}

.author {
  text-align: center;
}

.post {
}

.pagination {
  text-align: center;
}

#footer {

}

.centered_links {
  text-align: center;
}
