<!doctype html>
<html>
  <head>
    <title>Bomb's Emporium - {{ page.title }}</title>
    <link rel="stylesheet" href="/assets/css/style.css"/>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Itim&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fascinate&display=swap" rel="stylesheet">
    <script src="assets/js/random_header_image.js"></script>
  </head>
  <body>
    <div id="site_header" class="frame_row">
      <!-- <img id="header_image" src=""/></img> -->
      <div id="site_logo_text">
        <h1><a href='/'> Bomb's Emporium</a></h1>
      </div>
    </div>

    <div id="topbar">
      <a class="sidebar_toggle" href="javascript:void(0)" onclick="toggleSidebar()">toggle sidebar</a>
      {% include topbar.html %}
    </div>

    <br/>

    <div class="with-sidebar">
      <div id="sidebar" class="sidebar">
        {% include sidebar.html %}
      </div>
      <div class="content backing">
        {% include fancy_header.html header=page.title %}
        {{ content }}
      </div>
    </div>

    <br/>

    <div id="footer" class="backing">
      {% include fancy_header.html header="Other Cool People!" %}

      <div class="centered_links">
        <a href="https://rena.talkhaus.com">Super duper girlfriends page <img src="/assets/images/purpleflower.gif"/></a>
        |
        <a href="">some other person</a>
        |
        <a href="">and another person</a>
      </div>

    </div>
    <br/>
    <div class="backing">
      <p align="center">You are our <script type="text/javascript" src="//counter.websiteout.net/js/24/0/0/0"></script> visitor!</p>
    </div>
    <script>
      document.getElementById("header_image").src = random_header_image();

      function toggleSidebar() {
        let sidebar = document.getElementById("sidebar");
        if (sidebar.style.display === "none") {
          sidebar.style.display = "";
        } else {
          sidebar.style.display = "none";
        }
      }
    </script>
  </body>
</html>
